<div class="footer">
  <a href="https://www.facebook.com" target="_blank" rel="noopener/noreferrer" class="fa fa-facebook-square" style="font-size:24px"></a>
  <a href="https://www.twitter.com" target="_blank" rel="noopener/noreferrer" class="fa fa-twitter-square" style="font-size:24px"></a>
  <a href="https://www.linkedin.com" target="_blank" rel="noopener/noreferrer" class="fa fa-linkedin-square" style="font-size:24px"></a>
</div>