<div class="footer">
  <a href="https://www.facebook.com" target="_blank" rel="noopener/noreferrer" class="fa fa-facebook-square" style="font-size:24px"></a>
  <a href="https://www.twitter.com" target="_blank" rel="noopener/noreferrer" class="fa fa-twitter-square" style="font-size:24px"></a>
  <a href="https://www.linkedin.com" target="_blank" rel="noopener/noreferrer" class="fa fa-linkedin-square" style="font-size:24px"></a>
  <aside><%= link_to "Contact us", '#' %></aside>
  <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-gray">
			<p><u><a href="https://infinite-oasis-79599.herokuapp.com/"><i class="footer-note" style="color: gray">
			  BUILT CONSULTS</i></a></u> is a Registered Company under the 1964 Allied Company Acts of Nigeria</p>
			<p class="h6">&copy All right Reversed.<a class="text-green ml-2"></a></p>
		</div>
	</div>	
</div>