<div class="jumbotron jumbotron-fluid home-jumbo">
  <div class="container">
    <h1 class="display-4"><b>Welcome to the Constructor</b></h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6"><br>
      <div class="card card-body home">
        <p>Find me in app/views/pages/home:new.html.erb</p>
      </div>
    </div>
    
    <div class="col-lg-6"><br>
      <div class="card card-body home">
        <p>Find me in app/views/pages/home:new.html.erb</p>
      </div>
    </div>
    
    <div class="col-lg-6"><br>
      <div class="card card-body home">
        <p>Find me in app/views/pages/home:new.html.erb</p>
      </div>
    </div>
    
    <div class="col-lg-6"><br>
      <div class="card card-body home">
        <p>Find me in app/views/pages/home:new.html.erb</p>
      </div>
    </div>
  </div>
</div>